{% extends 'base.html' %}
 
 {% block contenido %}

<!DOCTYPE html>
     <html>
     <head>
         {% load static %}
         <link rel="stylesheet" type="text/css" href=" {% static 'css/est.css' %}">
     </head>
     <body>

     <html>
     <table>
     <tr>
     	<td>
            <h1>ING. IVAN DE LEON</h1>
     	</td>
     </tr>
     </table>

     <table>
     <tr>
        <td>
            <h1>Christian Arum Barrios Ramos</h1>
        </td>
     </tr>
     </table>
     
     <table>
     <tr>
        <td>
            <h1>0903986695</h1>
        </td>
     </tr>
     </table>
     
     <table>
     <tr>
        <td>
            <h1>DISEÑO DE PAGINAS WEB</h1>
        </td>
     </tr>
     </table>
     
     <table>
     <tr>
        <td>
            <h1>2017</h1>
        </td>
     </tr>
     </table>
     
    {%endblock%}
</html>
